`<div>
    <h1> Upcoming Events </h1>
    <!-- <h2>{{thumbnail.showChildProp}}</h2> -->
    <div class="well">
    <!-- Component Intercommunication -> Template Reference, Input, Output -->
        <!-- <event-thumbnail #thumbnail [event] = "eventData" (eventHandleClickMe) = "handleEventListClickMe($event)"></event-thumbnail>
    <button class="btn btn-primary" (click)="thumbnail.logTemplateRefrenceFunc()">Parent Button</button> -->
    <div class="row">
        <div class="col-md-5" *ngFor="let data of eventData">
             <event-thumbnail [event] = "data" (click)="handleThumbNailClick(data.name)"></event-thumbnail>
        </div>
    </div>

</div>`